<h3>Add a book to the database! </h3>

<form action="/books/new" method="post">
  <label for='title'>Title:</label>
  <input id='title' name='title' type='text'>

  <label for='author'>Author:</label>
  <input id='author' name='author' type='text'>

  <button type="submit">Add Book</button>
</form>
