<h3>Update book info</h3>

<form action="/books/update" method="post">
  <label for='title'>Title:</label>
  <input id='title' name='title' type='text'>

  <label for='author'>Author:</label>
  <input id='author' name='author' type='text'>

  <button type="submit">Update</button>
</form>
